
h1, h3 {
  margin: 0;
  color: white;
}

.card {
  position: relative;
  width: 260px;
  height: 400px;
  background: rgb(0, 0, 0);
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  border-radius: 12px;
  overflow: hidden;
}

.card::after, .card::before {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(161, 80, 255, 0.5));
}

.img {
  background-color: #ff87f5;
  width: 100%;
  height: 55%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.infos {
  width: 100%;
  height: 40%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.titulo {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(63, 93, 201, 1) 50%, rgba(2,0,36,1) 100%);
  width: 100%;
  height: 25%;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.atributo {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(63, 93, 201, 1) 100%);
  width: 100%;
  height: 13%;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  h3 {
    margin-left: 10px;
    margin-right: 20px;
  }
}

.atributo:hover, .clicado {
  background: linear-gradient(90deg, rgb(10, 3, 148) 0%, rgb(112, 142, 250) 100%);
}
