@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600&family=Roboto:wght@100&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;

  &.blue {
    background-color: #428aa6;
  }
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 40%;
  height: 90%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100vw;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;

  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

.side-slider {
  width: 35%;
  height: 100vh;
  transform: skew(-15deg);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: background .4s ease-in;
}

.btn-selecionar{
  height: 20%;
  width: 40%;
  border: none;
  background-color: rgba(0, 0, 0, 0.51);
  color: white;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

.btn-selecionar:hover{
  transition: 1s;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.377) 0%, rgba(0, 0, 0, 0.354) 100%);
}

.titulo {
  position: absolute;
  top: 0%;
  left: 5%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  color: #9A9A9A;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  color: #9A9A9A;
  margin-top: 0;
  padding-top: 0;
}


