html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.containerMain {
  background-image: url(https://imgur.com/FIEJkAt.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.divEsquerda{
  height: 100%;
  width:  100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.containerCard{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsSmmide{
  padding-right: 20rem;
  height: auto;
  width: 45%;
}

.sombraUm{
  position: fixed;
  top: 0;
  background-color: #e2e2e2;
  height: 70px;
  width: 100%;
}

.sombraDois{
  position: fixed;
  bottom: 0;
  background-color: #e2e2e2;
  height: 70px;
  width: 100%;
}

.divDireita{
  position: relative;
  height: 100%;
  width:  40%;
  background-color: rgba(0, 0, 0, 0.82);
  display: flex;
  justify-content: center;
  opacity: 1;
  right: 5rem;
}

.menu{
  width: 100%;
  height: 100%;
}

.fotos{
  width: 100%;
  height: 100%;
}

.tituloLabel{
  margin: 0;
  margin-top: 20px;
  color: #9d9d9d;
  font-size: 80px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto;
}

.botoesMenu{
  display: block;
  margin-top: 35px;
  margin-bottom: 50px;
  height: 80px;
  width: 350px;
  background-image: linear-gradient(to left, rgba(81, 0, 160, 1), #1A1A1A);
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: roboto;
  font-size: 50px;
  border: none;
}

.botoesMenu:hover{
  //transition-delay: 10s, 250ms;
  background-image: linear-gradient(to left, rgb(250, 250, 250), #1A1A1A);
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: rgb(243, 243, 243);
  z-index: 2;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
}

.tituloRegras{
  padding: 0;
  margin: 10px 0px 30px 0px;
  color: rgb(127, 75, 148);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 45px;
  font-weight: bold;
}

.regras{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.closeModal{
  margin: 0;
  padding: 0;
  left: 45%;
  position: fixed;
  border: solid 1px rgb(127, 75, 148);
  height: 50px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeModal:hover{
  background-color: rgb(127, 75, 148);

  .lebalFechar{
    color: rgb(248, 248, 248);
  }
}

.lebalFechar{
  color: rgb(127, 75, 148);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.separador{
  width: 100%;
  height: 2px;
  background-color: #bdbdbd;
}

#closeModalBtn {
  margin-top: 20px;
}


