.background {
  background-image: url('https://imgur.com/TqtKf5j.png%27');
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-side{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.74);
}

.top-cards-back{
  position: absolute;
  left: 2%;
  height: 20%;
  margin-right: 2%;
}

.player-cards-back{
  position: absolute;
  height: 20%;
  margin-left: 2%;
}

.player-side{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.74);
}

.play-btn {
  position: absolute;
  left: 20%;
  background: linear-gradient(90deg, rgba(98, 0, 195, 1) 0%, rgb(69, 0, 138) 100%);
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  height: 15%;
  width: 15%;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: larger;
  margin-top: 1%;
  font-size: 4rem;
  color: #ffffff;
}

.play-btn:hover {
  background: linear-gradient(90deg, rgb(152, 81, 218) 0%, rgba(141, 90, 192, 0.63) 100%);
}

.player-card {
  position: absolute;
  left: 25%;
  top: 22%;
}

.bot-card {
  position: relative;
  animation-name: card-animation-bot;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.center-table {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 60vh;
  justify-content: space-evenly;
  align-items: center;
  animation-name: background-animation;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 30%;
  background: linear-gradient(to bottom, #5BBABA, #B1A857);
  z-index: 2;
  border-radius: 15px;
}

.first-container {
  margin-top: 2%;
  margin-left: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 95%;
  background-color: rgba(0, 87, 77, 0.55);
  border-radius: 15px;
}

.second-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 78%;
  background-color: #028f7e;
  border-radius: 15px;
}

.label {
  margin-bottom: 10%;
  font-size: 6em;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.modalButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.modal-button {
  width: 50%;
  margin: 0 20px;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
}

.modal-button:hover {
  cursor: pointer;
  background-color: #028f7e;
}

.winnerCard {
  border: 2px solid #028f7e;
}

.placar{
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: fixed;
  right: 0%;
  margin-bottom: -23%;
  width: 20%;
  height: 10%;
  background-color: #43FF78;
}

.label-placar{
  color: white;
  font-family: 'Roboto', sans-serif;
}


@keyframes card-animation-bot {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes background-animation {
  0% {
    background-color: rgba(255, 189, 6, 0.616);
  }
  50% {
    background-color: rgba(253, 244, 113, 0.589);
  }
  100% {
    background-color: rgba(255, 189, 6, 0.616);
  }
}

