<div class="background">
  <div class="top-side">
    <img src="../../assets/card-back.png" alt="" class="top-cards-back" *ngFor="let card of quantCards; let i" [style.margin-left]="i + '6px'">
  </div>
  <div class="center-table">
    <app-card></app-card>
    <app-card class="bot-card"></app-card>
  </div>
  <div class="player-side">
    <img src="../../assets/card-back.png" alt="" class="player-cards-back" *ngFor="let card of quantCards; let i" [style.margin-left]="i + '10px'">
    <button class="play-btn">Jogar</button>
  </div>
</div>


